<?xml version="1.0" encoding="windows-1252" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">


    <bean id="pep" class="org.openliberty.openaz.pep.PepRequestFactoryImpl">
        <constructor-arg type="java.lang.String" value="SamplePep"/>
        <constructor-arg ref="azService"/>
    </bean>
    
    
    <bean id="azService" class="org.openliberty.openaz.pdp.provider.SimpleConcreteDummyService"/>
  

</beans>